* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #181818;
    text-align: center;
    color: #eee;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}